{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <h3>{% trans "Sign In" %}</h3>

                    <p class="card-text">{% blocktrans %}Welcome back to the The Gaming Verdict. To leave a comment or like a post, please log in. If
                        you
                        have not created an account yet, then <a class="orange-link" href="{{ signup_url }}">sign up</a>
                        first.{% endblocktrans %}</p>

                    <form class="login card-text" method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        
                        <p>
                            <label for="{{ form.login.id_for_label }}">{{ form.login.label }}:</label>
                            {{ form.login }}
                        </p>
                        
                        <p>
                            <label for="{{ form.password.id_for_label }}">{{ form.password.label }}:</label>
                            {{ form.password }}
                        </p>
                        
                        {% if form.remember %}
                        <p>
                            <label for="{{ form.remember.id_for_label }}">{{ form.remember.label }}</label>
                            {{ form.remember }}
                        </p>
                        {% endif %}
                        
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="btn btn-outline-success right" type="submit">{% trans "Sign In" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}