{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <section aria-labelledby="logout-heading">
                <div class="card">
                    <div class="card-body">
                        <h1 id="logout-heading">{% trans "Sign Out" %}</h1>

                        <p class="card-text">{% trans 'Are you sure you want to sign out?' %}</p>

                        <form method="post" action="{% url 'account_logout' %}">
                            <fieldset>
                                <legend class="visually-hidden">Sign out confirmation</legend>
                                {% csrf_token %}
                                {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                {% endif %}
                                <button class="btn btn-outline-success right" type="submit">{% trans 'Sign Out' %}</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}