{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}Change Password{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <h3>{% trans "Change Password" %}</h3>

                    <p class="card-text">Enter your current password and choose a new password for your account.</p>

                    <form class="signup card-text" method="post" action="{% url 'account_change_password' %}">
                        {% csrf_token %}
                        {{ redirect_field }}
                        
                        <p>
                            <label for="{{ form.oldpassword.id_for_label }}">{% trans "Current Password" %}:</label>
                            <input type="password" class="form-control" name="{{ form.oldpassword.name }}" id="{{ form.oldpassword.id_for_label }}" required>
                            {% if form.oldpassword.errors %}
                                <div class="text-danger small">{{ form.oldpassword.errors }}</div>
                            {% endif %}
                        </p>
                        
                        <p>
                            <label for="{{ form.password1.id_for_label }}">{% trans "New Password" %}:</label>
                            <input type="password" class="form-control" name="{{ form.password1.name }}" id="{{ form.password1.id_for_label }}" required>
                            {% if form.password1.errors %}
                                <div class="text-danger small">{{ form.password1.errors }}</div>
                            {% endif %}
                        </p>
                        
                        <p>
                            <label for="{{ form.password2.id_for_label }}">{% trans "New Password (again)" %}:</label>
                            <input type="password" class="form-control" name="{{ form.password2.name }}" id="{{ form.password2.id_for_label }}" required>
                            {% if form.password2.errors %}
                                <div class="text-danger small">{{ form.password2.errors }}</div>
                            {% endif %}
                        </p>
                        
                        {% if form.non_field_errors %}
                            <div class="alert alert-danger">{{ form.non_field_errors }}</div>
                        {% endif %}
                        
                        <button type="submit" class="btn btn-outline-success">{% trans "Change Password" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
