{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}Change Password{% endblock %}


{% block content %}

<div class="password-change-main">

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <section aria-labelledby="password-change-heading">
                <div class="card">
                    <div class="card-body">
                        <h1 id="password-change-heading">{% trans "Change Password" %}</h1>

                        <p class="card-text">Enter your current password and choose a new password for your account.</p>

                        <form class="signup card-text" method="post" action="{% url 'account_change_password' %}">
                            {% csrf_token %}
                            {{ redirect_field }}
                            
                            <fieldset>
                                <legend class="visually-hidden">Password Change Form</legend>
                                
                                <div class="form-group mb-3">
                                    <label for="{{ form.oldpassword.id_for_label }}">{% trans "Current Password" %}:</label>
                                    <input type="password" class="form-control" name="{{ form.oldpassword.name }}" id="{{ form.oldpassword.id_for_label }}" required {% if form.oldpassword.errors %}aria-describedby="{{ form.oldpassword.id_for_label }}-errors"{% endif %}>
                                    {% if form.oldpassword.errors %}
                                        <div id="{{ form.oldpassword.id_for_label }}-errors" class="text-danger small" role="alert">{{ form.oldpassword.errors }}</div>
                                    {% endif %}
                                </div>
                                
                                <div class="form-group mb-3">
                                    <label for="{{ form.password1.id_for_label }}">{% trans "New Password" %}:</label>
                                    <input type="password" class="form-control" name="{{ form.password1.name }}" id="{{ form.password1.id_for_label }}" required {% if form.password1.errors %}aria-describedby="{{ form.password1.id_for_label }}-errors"{% endif %}>
                                    {% if form.password1.errors %}
                                        <div id="{{ form.password1.id_for_label }}-errors" class="text-danger small" role="alert">{{ form.password1.errors }}</div>
                                    {% endif %}
                                </div>
                                
                                <div class="form-group mb-3">
                                    <label for="{{ form.password2.id_for_label }}">{% trans "New Password (again)" %}:</label>
                                    <input type="password" class="form-control" name="{{ form.password2.name }}" id="{{ form.password2.id_for_label }}" required {% if form.password2.errors %}aria-describedby="{{ form.password2.id_for_label }}-errors"{% endif %}>
                                    {% if form.password2.errors %}
                                        <div id="{{ form.password2.id_for_label }}-errors" class="text-danger small" role="alert">{{ form.password2.errors }}</div>
                                    {% endif %}
                                </div>
                                
                                {% if form.non_field_errors %}
                                    <div class="alert alert-danger" role="alert">{{ form.non_field_errors }}</div>
                                {% endif %}
                                
                                <button type="submit" class="btn btn-outline-success">{% trans "Change Password" %}</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
    </div> <!-- End .password-change-main -->
{% endblock content %}
