{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- developer_list.html content starts here -->
<div class="container-fluid">
    <div class="row">
        <!-- Developers Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for developer in developer_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <a href="{% url 'developer:developer_games' developer.slug %}">
                                    <!-- {% if "placeholder" in developer.logo.url %}
                                        <img class="card-img-top" src="{% static 'images/default.jpg' %}" alt="Default developer logo" style="height: 200px !important; width: 100% !important; object-fit: contain !important;">
                                    {% else %}
                                        <img class="card-img-top" src="{{ developer.logo.url }}" alt="{{ developer.name }} logo" style="height: 200px !important; width: 100% !important; object-fit: contain !important;">
                                    {% endif %} -->
                                </a>
                            </div>
                            <a href="{% url 'developer:developer_games' developer.slug %}" class="post-link">
                                <h2 class="card-title">{{ developer.name }}</h2>
                                {% if developer.description %}
                                    <p class="card-text">{{ developer.description|striptags|truncatewords:30 }}</p>
                                {% else %}
                                    <p class="card-text">No developer information available</p>
                                {% endif %}
                            </a>
                            <hr />
                            {% if developer.website %}
                            <p class="card-text">
                                <a href="{{ developer.website }}" target="_blank" class="external-link">
                                    <i class="fas fa-external-link-alt"></i> Visit Website
                                </a>
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}"
                  class="page-link">&laquo; PREV</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}"
                  class="page-link">NEXT &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
<!-- developer_list.html content ends here -->
{% endblock %}
